
.logo {
	display: inline-block;
	flex: 0 0 180px;
	height: 60px;
	max-width: 180px;
	margin: 0 105px 0 0;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	background-image: url(/img/logo.png); 
	@include bg-contain;

	&.logo_white {
		position: relative;
		background-image: url(/img/logo_white.png); 
	}
}
