
.logo {
	display: inline-block;
	flex: 0 0 420px;
	height: 45px;
	max-width: 420px;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	background-image: url(); 
	@include bg-contain;

	&.logo_full {
		position: relative;
		background-image: url(/img/icons/logo-full-white.png); 
	}
	&.logo_small-blue {
		position: relative;
		background-image: url(/img/icons/logo-small-blue.png); 
		flex: 0 0 80px;
	}
	&.logo_small-white {
		position: relative;
		background-image: url(/img/icons/logo-small-white.png); 
		flex: 0 0 80px;
	}
}
