// .section-contacts {
// 	padding: 120px 0 0 0;
// 	.container {
// 		position: relative;
// 	}
// }

// .section-contacts__bg {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	iframe {
// 		width:100%;
// 		height: 100%;
// 	}
// }

// .section-contacts__contact-block {
// 	position: absolute;
// 	left: 0;
// 	bottom: -500px;
// 	padding: 80px 20px 80px 35px;
// 	width: 35%;
// 	background-color: $blue;
// 	background-color: rgba(34,83,184,.9);

// 	color: #fff;

// 	transition: 500ms;
// 	transition-delay: 500ms;

// 	opacity: 0;
// 	transform: translateY(-150px);

// 	p {
// 		position: relative;
// 		padding: 0 0 0 20px;
// 		@include font-kit (22px,21px,20px,19px,17px);
// 		line-height: 1.4;

// 		i {
// 			left: 0;
// 			top: 15px;
// 		}
// 	}
// }

// @media screen and (min-width: 1366px) and (max-width: 1600px) {
// 	.section-contacts__contact-block {
// 		width: 56%;
// 		padding: 40px 70px;
// 		bottom: auto;

// 		@include flex-row(wrap,flex-start, flex-start);
// 		padding: 50px 45px;

// 		p {
// 			flex: 1 1 50%;
// 			margin: 0 0 50px 0;

// 			i { top: 10px; transition: $tr2;}
// 		}
// 	}
// }






@media screen and (max-width: 1450px) {
	.section-contacts__contact-block {
		left: 200px;
	}
}

@media screen and (max-width: 1024px) {
	.section-contacts {
		padding: 70px 0 0 0;
	}
	.section-contacts__contact-block {
		left: 0;
	}
	
}

@media screen and (max-width: 768px) {
	.section-contacts {
		display: flex;
		flex-direction: column-reverse;
	}
	.section-contacts__contact-block {
		position: static;
		width: 100%;
		height: auto;
		margin: 0 0 50px 0;

		@include flex-row(wrap,flex-start, flex-start);
		padding: 50px 45px;

		p {
			flex: 1 1 50%;
			font-size: 16px;

			i { top: 10px; transition: $tr2;}
		}
	}
	.section-contacts__bg {
		position: static;
		height: 700px;
	}
}


@media screen and (max-width: 568px) {
	.section-contacts__contact-block {
		position: static;
		width: 100%;
		height: auto;
		margin: 0 0 50px 0;

		@include flex-row(wrap,flex-start, flex-start);
		padding: 50px 45px;

		p {
			flex: 1 1 100%;
			font-size: 18px;

			i { top: 12px; }
		}
	}
}

@media screen and (min-width: 768px) {
	.section-contacts__contact-block {
		p {
			i { transition: $tr2;}

			&:hover {
				i { transform: translateX(-50%) translateY(-85%); }
			}
		}
	}
}
