.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 0 auto;
	padding: 0 $gutter;
	// background: lightgray;
}


@media screen and (max-width: 1450px) {
	.container {
		max-width: 100%;
		padding: 0 90px 0 200px;
	}
}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {
	.container {
		max-width: 992px;
		padding: 0 60px;
	}
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
	.container {
		max-width: 992px;
		padding: 0 20px;
	}
}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}