.page-footer {
	flex: none;
	width: 100%;
	background-color: #fff;
}




.page-footer__legal {
	padding: $gutter 0;
	color: #122346;
	.container {
		@include flex-row(nowrap,space-between,center);
	}
}
.page-footer__copy {
	@include font-kit(14px,14px,13px,13px,14px);
	color: #122346;
	font-weight: 300;
}
.page-footer__by {
	@include font-kit(14px,14px,13px,13px,13px);
	color: #122346;
	font-weight: 300;
}


.footer-container {
	position: relative;
	.page-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;

		a {
			color: #122346;
			font-weight: 300;
		}
	}
}


@media screen and (max-width: 1450px) {}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
	.page-footer__legal {
		.container {
			flex-wrap: wrap;
			span {flex: 1 1 100%; text-align: center; margin: 10px;}
		}
	}

}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}