.section-hero {
	height: 100%;

	@include flex-row(nowrap,flex-start,center);
	@include bg-cover;

	background-image: url(/img/bg/hero_min.jpg);
}

.section-hero__lead {
	width: 44%;
	// padding: 110px 40px;

}

.section-hero__caption {}
.hero__description {}


.section-hero__arrow {}