.section-hero {
	height: 100%;
	padding: 120px 0 0 0;

	@include flex-row(nowrap,flex-start,center);
	@include bg-cover;

	background-image: url(/img/bg/hero_min.jpg);
}

.section-hero__lead {
	width: 44%;
	// padding: 110px 40px;

}

.section-hero__caption {}
.hero__description {}


.section-hero__arrow {}




@media screen and (max-width: 1450px) {
	.section-hero__lead {
		width: 54%;
	}
}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {
	.section-hero {
		padding: 120px 0 120px 0;
		min-height: 100vh;
	}
	.section-hero__lead {
		width: 70%;
	}
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
	.section-hero {
		padding: 50px 0 50px 0;
		min-height: 65vh;
		height: 600px;
	    background-position: 70% 50%;
	    background-image: url(/img/bg/hero-blue_min.jpg);
	}
	.section-hero__lead {
		width: 100%;
	}
}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}