.icon {
	position: relative;
	display: inline-block;
	transition: $tr2;	
}

.icon_rounded {
	width: 52px;
	height: 52px;
	border: 1px solid $gray2;
	border-radius: 50%;
	margin: 0 15px 0 0;
}




.i {
	@include center;
	transition: $tr2;
}
.arrow-down, .arrow-up, .caret-left-big, .caret-left-big-blue, .caret-right-big, .caret-right-big-blue, .clock, .mail, .map-pin-small, .tel{
	background: url(/img/icons/sprites.png) no-repeat;
}

.arrow-down{
	background-position: -13.000007629394531px -170.00892639160156px ;
	width: 13px;
	height: 10px;
}

.arrow-up{
	background-position: -14.000007629394531px -195.00892639160156px ;
	width: 13px;
	height: 10px;
}

.caret-left-big{
	background-position: -59.000022888183594px -38.008941650390625px ;
	width: 17px;
	height: 32px;
}

.caret-left-big-blue{
	background-position: -25px -1px ;
	width: 17px;
	height: 32px;
}

.caret-right-big{
	background-position: -37.00000762939453px -38.008941650390625px ;
	width: 17px;
	height: 32px;
}

.caret-right-big-blue{
	background-position: 0 0;
	width: 17px;
	height: 32px;
}

.clock{
	background-position: -128.00000762939453px -121.00892639160156px ;
	width: 17px;
	height: 17px;
}

.mail{
	background-position: -64.00000762939453px -134.00892639160156px ;
	width: 18px;
	height: 14px;
}

.map-pin-small{
	background-position: -17.00000762939453px -131.00892639160156px ;
	width: 12px;
	height: 17px;
}

.tel{
	background-position: -2px -42px ;
	width: 17px;
	height: 17px;
}







.i-burger {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	@include flex-col(nowrap, center, flex-start);
	width: 26px;
	height: 20px;
	margin: 0 0 0 0;
    transition: $tr2;
}


.i-burger__bar {
	position: relative;
	width: 26px;
    height: 2px;
    margin-bottom: 6px;
    background-color: rgba(255,255,255,.85);
    transition: $tr3;
    transform-origin: center, center;

    	&:last-child { margin-bottom: 0; }

    	&:nth-child(1):after {
    		transition-delay: 0ms;
    	}
    	&:nth-child(2) {width: 21px;}
    	&:nth-child(2):after {
    		transition-delay: 250ms;
    	}
    	&:nth-child(3):after {
    		transition-delay: 500ms;
    	}

    // &:after {
    // 	@include pseudo;
    // 	top: 0;
    // 	left: 0;
    // 	width: 0%;
    // 	height: 100%;
    // 	background-color: #fff;
    // 	z-index: 4;

    // 	transition: $tr3;
    // }
}
