	// .section-form {

	// 	position: relative;
	// 	padding: 120px 0 0 0;
	// 	height: 100%;

	// 	@include bg-cover;
	// 	background-image: url(/img/bg/blue_min.jpg);

	// 	h2 {
	// 		margin-bottom: 45px !important;
	// 	}

	// 	&::before {
	// 	    position: absolute;
	// 	    content: '';
	// 	    right: 100px;
	// 	    top: 50%;
	// 	    transform: translateY(-50%) rotate(18deg);
	// 	    width: 780px;
	// 	    height: 800px;
	// 	    background-position: 50% 50%;
	// 	    background-size: contain;
	// 	    background-repeat: no-repeat;
	// 	    background-image: url(/img/bg/phone.png);

	// 	    animation: phone-float 5s infinite;
	// 	}
	// }







// @keyframes phone-float {
// 	0% {
// 		transform: translateY(-50%) rotate(18deg);
// 	}
// 	50% {
// 		transform: translateY(-52.5%) rotate(18deg);
// 	}
// 	100% {
// 		transform: translateY(-50%) rotate(18deg);
// 	}
// }







// @media screen and (min-width: 1366px) and (max-width: 1600px) {
// 	.section-form {
// 		&::before {
// 			width: 480px;
//     		height: 500px;
// 		}
// 	}
	
// }




// @media screen and (min-width: 1366px) {
// 	.section_active {
// 		.signup-form__label,
// 		.section-contacts__contact-block {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 		input.btn {
// 			animation: pulse 400ms;
// 			animation-delay: 700ms;
// 		}
// 	}
// }

// десктопы
@media screen and (min-width: 1200px) and (max-width: 1365px) {
	.section_active {
		.signup-form__label,
		.section-contacts__contact-block {
			opacity: 1;
			transform: translateY(0);
		}
		input.btn {
			animation: pulse 400ms;
			animation-delay: 700ms;
		}
	}
}


// малые декстопы и квадратные мониторы
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.section_active {
		.signup-form__label,
		.section-contacts__contact-block {
			opacity: 1;
			transform: translateY(0);
		}
		input.btn {
			animation: pulse 400ms;
			animation-delay: 700ms;
		}
	}
	.section-form {
		&::before {
			width: 480px;
    		height: 500px;
    		right: 0;
		}
	}
	.signup-form {
		width: 55%;
	}
}




// планшеты
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.signup-form__label,
	.section-contacts__contact-block {
		opacity: 1;
		transform: translateY(0);
	}
	input.btn {
		animation: pulse 400ms;
		animation-delay: 700ms;
	}
	.section-form {
		padding: 120px 0;
		&::before {
			display: none;
		}
	}

	.signup-form {margin: 0 auto; width: 50%;}
}





// большие телефоны и телефоны в горизонтальной ориентации 
@media screen and (min-width: 568px) and (max-width: 767px) {
	.signup-form__label,
	.section-contacts__contact-block {
		opacity: 1;
		transform: translateY(0);
	}
	input.btn {
		animation: pulse 400ms;
		animation-delay: 700ms;
	}
	.section-form {
		padding: 120px 0;
		&::before {
			display: none;
		}
	}

	.signup-form {margin: 0 auto; width: 75%;}
}
@media screen and (min-width: 568px) and (max-width: 767px) and (orientation: portrait) {
	// расположение элементов внутри блока
}
@media screen and (min-width: 568px) and (max-width: 767px) and (orientation: landscape) {
	// расположение элементов внутри блока
}





// телефоны 
@media screen and (min-width: 414px) and (max-width: 567px) {
	.signup-form__label,
	.section-contacts__contact-block {
		opacity: 1;
		transform: translateY(0);
	}
	input.btn {
		animation: pulse 400ms;
		animation-delay: 700ms;
	}
	.section-form {
		padding: 120px 0;
		&::before {
			display: none;
		}
	}

	.signup-form {margin: 0 auto; width: 85%;}
}




// телефоны 
@media screen and (max-width: 413px) {
	.signup-form__label,
	.section-contacts__contact-block {
		opacity: 1;
		transform: translateY(0);
	}
	input.btn {
		animation: pulse 400ms;
		animation-delay: 700ms;
	}
	.section-form {
		padding: 120px 0;
		&::before {
			display: none;
		}
	}

	.signup-form {margin: 0 auto; width: 100%;}
}

