// .section-features {
// 	padding: 82px 0 0 0;
// 	.col-4 {
// 		&:nth-of-type(1) {.icon-text{transition-delay: 0ms;}}
// 		&:nth-of-type(2) {.icon-text{transition-delay: 200ms;}}
// 		&:nth-of-type(3) {.icon-text{transition-delay: 400ms;}}
// 		&:nth-of-type(4) {.icon-text{transition-delay: 600ms;}}
// 		&:nth-of-type(5) {.icon-text{transition-delay: 800ms;}}
// 		&:nth-of-type(6) {.icon-text{transition-delay: 1000ms;}}
// 	}
// }


// @media screen and (min-width: 1366px) {
// 	.section_active {
// 		.icon-text {
// 			opacity: 1 !important;
// 			transform: translateY(0) !important;
// 		}
// 	}
// }

// @media screen and (min-width: 1200px) and (max-width: 1365px) {
// 	.section_active {
// 		.icon-text {
// 			opacity: 1 !important;
// 			transform: translateY(0) !important;
// 		}
// 	}
// }


// @media screen and (min-width: 1024px) and (max-width: 1199px) {
// 	.section_active {
// 		.icon-text {
// 			opacity: 1 !important;
// 			transform: translateY(0) !important;
// 		}
// 	}
// }
// @media screen and (min-width: 1024px) and (max-width: 1199px) and (orientation: portrait) {
// 	.section_active {
// 		.section-features {
// 			.col-4 {
// 				flex: 0 0 50%;
// 				max-width: 50%;
// 				.icon-text {
// 					margin: 0 0 90px 0;
// 					img {margin-bottom: 40px;}
// 				}
// 			}
// 		}
// 	}
// }
// @media screen and (min-width: 1024px) and (max-width: 1199px) and (orientation: landscape) {
// 	.section_active {
// 		.section-features {
// 			.col-4 {
// 				.icon-text {
// 					.icon-text__img {
// 						width: 110px;
// 						height: 110px;
// 						margin: 0 auto 10px auto;
// 					}
// 					margin: 0 0 20px 0;
// 					img {margin-bottom: 15px;}
// 				}
// 			}
// 		}
// 	}
// }





// @media screen and (min-width: 768px) and (max-width: 1023px) {
// 	.section_active {
// 		.section-features {
// 			.col-4 {
// 				.icon-text {
// 					margin: 0 0 30px 0;
// 					img {margin-bottom: 20px;}
// 				}
// 			}
// 		}
// 	}
// }




// @media screen and (min-width: 568px) and (max-width: 767px) {
// 	.section-features {
// 		.col-4 {
// 			flex: 0 0 50%;
// 			max-width: 50%;
// 		}
// 	}
// }
