.section-features {
	padding: 82px 0 0 0;
}

@media screen and (max-width: 1450px) {}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
	.section-features {
		padding: 0;
		.col-4:last-of-type {
			.icon-text {
				padding-bottom: 0;
			}
		}
	}
}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}