
// список ссылок
// 	горизонтальный
// 	вертикальный
// 	с дропдауном

.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 120px;
	height: 100%;
	background-color: rgba(255,255,255,.85);
	z-index: 3;

}

.nav__numbers {
	position: absolute;
	left: 50%;
	bottom: 30%;
	transform: translateX(-50%);
	width: 40px;
	height: auto;
	bottom: 200px;

	@include flex-col(nowrap,center,center);
}
.nav__arrows {
	position: absolute;
	left: 50%;
	bottom: 30%;
	transform: translateX(-50%);
	width: 40px;
	height: 95px;
	bottom: 80px;

	@include flex-col(nowrap,center,center);
}

.nav__number {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid $blue;
	color: $blue;
	text-align: center;
	line-height: 38px;
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 11px 0;
	cursor: pointer;


	&:hover {
		color: $red;
		border-color: $red;
	}
}
.nav__number_active {
	color: $red !important;
	border-color: $red !important;
}

.nav__next {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid $blue;
	margin: 0 0 11px 0;
	cursor: pointer;
	&:hover {
		border-color: $red;
		.i {
			background-position: -205px -40px;
		}
	}
}
.nav__prev {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid $blue;
	color: $blue;
	text-align: center;
	line-height: 38px;
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 11px 0;
	cursor: pointer;
	&:hover {
		border-color: $red;
		.i {
			background-position: -217px 0;
		}
	}
}



@media screen and (max-width: 1450px) {}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {
	.nav {
		display: none;
	}
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}