.section-services {
	padding: 83px 0 0 0;
	height: 100%;
}

.section-services__lead {
	width: 44%;

	.lead {
		padding: 65px 70px 130px 0;
		.lead__caption {
			font-weight: 300;
		}

		.swiper-lead__arrows {
			bottom: 75px;
		}
		
	}
}


.section-services__bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	@include bg-cover;
	background-image: url(/img/bg/dude_min.jpg);
	z-index: -2;

	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		width: 0%;
		height: 100%;

		background-color: rgba(12,66,179,.8);

		transition: 500ms;
		transition-delay: 200ms;
	}
}





@media screen and (max-width: 1450px) {
	.section-services__bg::before {
		width: 75%;
	}
}
@media screen and (max-width: 1240px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {

	.section-services {
		padding-top: 75px;
		height: 100%;
	}

	.section-services__lead {
		// min-height: 85vh;
		// padding: 50px 0 50px 0;

		.lead {
			padding: 65px 70px 130px 0 !important;
			.lead__caption {
				font-weight: 300;
			}

			.swiper-lead__arrows {
				bottom: 75px;
			}
			
		}
	}

	.section-services__bg {
		&::before {width: 100% !important;}
	}

}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}